<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>
    <form method="post" action="/posts">
    <input placeholder="username" name="username"></br></br></br>
    <textarea row="10" cols="30" placeholder="enter your content " name="content"></textarea>
    <input placeholder="email" name="email">
    <button type="submit">ADD</button>
    </form>
</body>
</html>